
<div class="heading">
    <h1>WELCOME TO HTTP</h1>
</div>

<div class="home">
   <div>
     <div>
         <fieldset class="fieldset" [class]="isError?'wrong':'right'">
            @if(isTyping!=''){
               <legend class="legend">url</legend>
            }
            <input
               #myInput 
               type="url" 
               id="url" 
               [placeholder]="'url'"
               [(ngModel)]="isTyping" 
            />
         </fieldset>
      </div>
      <div>
            <button (click)="buttonClickedHandle(myInput.value)">click</button>
      </div>

   </div>
</div>

<router-outlet />
